@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Viva Payments AngularJS Example</h1>
    <p class="lead"></p>
</div>

<div class="row" ng-controller="VivaPaymentsCtlr">
    <div class="col-md-12 loader" style="display: none; vertical-align: middle; text-align: center;">
        <div ng-show="step == 1">
            <input type="text" ng-model="totalCost" ng-init="totalCost=0.1">
            <input type="button" value="&euro;{{totalCost}} Proceed to payment" ng-click="step2()">
        </div>
        <div ng-show="step == 2">
            <input type="button" value="Back" onclick="window.location.href = '/';">
            <div ng-vivapayment></div>
        </div>
    </div>
</div>