@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Viva Payments AngularJS Example</h1>
    <p class="lead"></p>
</div>

<div class="row" ng-controller="VivaPaymentsCtlr">
    <div class="col-md-12" style="display: inline-block; vertical-align: middle; text-align: center;">
        <div>
            <input type="text" ng-model="totalCost" ng-init="totalCost=0.1">
            <input type="button" value="&euro;{{totalCost}} Proceed to checkout" ng-click="step2()">
        </div>
        <div ng-if="step == 2" style="padding-top: 15px;">
            <form id="frmCheckout" action="/Home/Checkout" method="post" postform>
                <button class="form-control btn btn-primary" type="button"
                        data-vp-publickey="aBon7Oqqme4i/d6kPz3ICnIm/KEFXnavmpAGMR+dtK0="
                        data-vp-baseurl="https://demo.vivapayments.com"
                        data-vp-lang="{{culture}}"
                        data-vp-amount="{{totalCost * 100.0}}"
                        data-vp-description="My product" />

            </form>
            <script src="https://demo.vivapayments.com/web/checkout/js"></script>
        </div>
    </div>
</div>