<form action="{{ action }}" method="post" id="payment">
  <input type="hidden" name="Ref" value="{{ vivawallet_ordercode }}" />
</form>

<div class="buttons">
  <div class="pull-right">
    <input type="button" onclick="$('#payment').submit();" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" />
  </div>
</div>