<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Hellaspay>
            <version>1.0.0</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Mage_Hellaspay>
    </modules>
    <global>
    	<models>
    		<hellaspay>
	    		<class>Mage_Hellaspay_Model</class>
				<resourceModel>paygate_mysql4</resourceModel>
	    	</hellaspay>
         <paygate_mysql4>
            <class>Mage_Paygate_Model_Mysql4</class>
            <entities>
                <authorizenet_debug><table>paygate_authorizenet_debug</table></authorizenet_debug>
            </entities>
         </paygate_mysql4>
		 
    	</models>
    	<helpers>
    		<hellaspay>
    			<class>Mage_Hellaspay_Helper</class>
    		</hellaspay>
    	</helpers>
    	<blocks>
    		<hellaspay>
    			<class>Mage_Hellaspay_Block</class>
    		</hellaspay>
    	</blocks>
        <resources>
            <hellaspay_setup>
                <setup>
                    <module>Mage_Hellaspay</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </hellaspay_setup>
            <hellaspay_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </hellaspay_write>
            <hellaspay_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </hellaspay_read>
        </resources>
    </global>
	
    <frontend>
        <routers>
            <hellaspay>
                <use>standard</use>
                <args>
                    <module>Mage_Hellaspay</module>
                    <frontName>hellaspay</frontName>
                </args>
            </hellaspay>
        </routers>
        <translate>
            <modules>
                <Mage_Hellaspay>
                    <files>
                        <default>Mage_Hellaspay.csv</default>
                    </files>
                </Mage_Hellaspay>
            </modules>
        </translate>
    </frontend>
	
	<default>
        <payment>
            <hpay>
                <active>0</active>
                <model>hellaspay/hpay</model>
                <order_url>https://www.vivapayments.com/api/orders</order_url>
                <cgi_url>https://www.vivapayments.com/web/newtransaction.aspx</cgi_url>
                <merchantid>MerchantID</merchantid>
				<merchantpass>API Key</merchantpass>
				<merchantsource>Source Code</merchantsource>
				<merchantsecsource></merchantsecsource>
				<Installments>90:3,180:6</Installments>
                <title>Viva Payments Credit Card (redirect)</title>
                <Currency>EUR</Currency>
                <debug>0</debug>
            </hpay>
        </payment>
    </default>
</config>